@keyframes fade-in-1 {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  background: white;
  font-family: "Rubik", Helvetica, Arial, sans-serif; }

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */ }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0; }

.header {
  display: none; }

#content_holder_bg {
  background: none !important; }

#content_holder {
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0;
  bottom: 0;
  color: #fff; }

#content_holder a {
  color: #fff; }

#content_holder #content_holder_bg {
  position: absolute;
  height: 100%;
  width: 70px;
  background: #000;
  opacity: 0.8;
  padding-bottom: 0; }

#content_holder #home_slider {
  position: absolute;
  bottom: 0px;
  width: 70px;
  height: 100%;
  top: 0; }

#content_holder #home_slider #home_slider_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.4; }

#content_holder #home_slider #home_slider_thumbs {
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70px;
  text-align: center; }

#content_holder #home_slider #home_slider_thumbs div {
  position: relative;
  margin: 3px auto;
  height: 50px;
  width: 50px;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  cursor: pointer; }

#content_holder #home_slider #home_slider_thumbs div.active,
#content_holder #home_slider #home_slider_thumbs div:hover {
  border: solid 1px #fff; }

#content_holder #home_slider .img_name {
  position: absolute;
  top: 20px;
  left: 30px; }

#content_holder #home_slider .img_caption {
  position: absolute;
  top: 20px;
  font-size: 12px;
  right: 30px; }

#slide_bg {
  position: fixed;
  width: 100%;
  height: 100%; }

#slide_bg div {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

#slide_bg div.active {
  opacity: 1; }

/*# sourceMappingURL=style.css.map */
