@keyframes fade-in-1 {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  background: white;
  font-family: "franklingothic-book", Helvetica, Arial, sans-serif;
  color: #333333;
  line-height: 1.375; }

img {
  display: block;
  max-width: 100%; }

a {
  transition: all .25s ease;
  text-decoration: none; }

textarea,
input.text,
input[type="text"],
input[type="email"],
input[type="button"],
input[type="submit"],
.input-checkbox {
  -webkit-appearance: none !important;
  border-radius: 0 !important; }

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */ }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0; }

@font-face {
  font-family: 'franklingothic-book';
  src: url("../fonts/franklingothic-book-webfont.woff2") format("woff2"), url("../fonts/franklingothic-book-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'franklingothic-book-italic';
  src: url("../fonts/franklingothic-bookit-webfont.woff2") format("woff2"), url("../fonts/franklingothic-bookit-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'franklingothic-demi';
  src: url("../fonts/franklingothic-demi-webfont.woff2") format("woff2"), url("../fonts/franklingothic-demi-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'franklingothic-demi-italic';
  src: url("../fonts/franklingothic-demiit-webfont.woff2") format("woff2"), url("../fonts/franklingothic-demiit-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: "franklingothic-demi", Georgia, serif;
  line-height: 1.1; }

h1 {
  font-size: 38px;
  font-family: "franklingothic-demi", Georgia, serif;
  margin-bottom: 1rem; }

p {
  margin: 0;
  padding-top: 0;
  padding-bottom: 1.5rem; }

a {
  color: white;
  transition: all .15s ease; }
  a:hover {
    opacity: .8; }

b,
strong {
  font-family: "franklingothic-demi", Georgia, serif; }

i,
em {
  font-family: "franklingothic-book-italic", Helvetica, Arial, sans-serif; }

.container {
  width: 90%;
  max-width: 90%;
  margin: 0 auto; }

.header {
  position: fixed;
  z-index: 9000;
  background: rgba(0, 0, 0, 0.25);
  width: 100%;
  top: 0;
  height: 100px;
  padding: 20px 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .header__logo {
    transition: all .25s ease; }
    .header__logo img {
      width: 200px; }
    .header__logo:hover, .header__logo:focus {
      opacity: .8; }
  .header__nav ul {
    margin: 7px 0 0 25px;
    padding: 0; }
  .header__nav li {
    display: inline-block;
    list-style-type: none;
    margin: 0 0 0 20px;
    position: relative; }
    .header__nav li:before {
      content: '|';
      position: absolute;
      left: -15px;
      display: block;
      color: white; }
    .header__nav li:first-child:before {
      content: '';
      display: none; }
  .header__nav a {
    font-size: 17px;
    color: white;
    text-transform: none;
    font-family: "franklingothic-demi", Georgia, serif; }
    .header__nav a:hover, .header__nav a:focus {
      color: rgba(255, 255, 255, 0.8); }
  .header__nav .current_page_item a {
    color: white; }
  @media screen and (max-width: 1099px) {
    .header {
      align-items: flex-start;
      flex-direction: column; }
      .header__nav ul {
        margin: 12px 0 0 0; }
      .header__nav li:first-child {
        margin-left: 0; }
      .header__nav a {
        font-size: 16px; } }
  @media screen and (max-width: 859px) {
    .header {
      padding: 20px 15px; } }
  @media screen and (max-width: 479px) {
    .header__nav a {
      font-size: 14px; } }

.button {
  display: inline-block;
  padding: 8px 15px;
  margin-bottom: 10px;
  border: none;
  border-radius: 0;
  background: transparent;
  color: white;
  font-family: "franklingothic-demi", Georgia, serif;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid white; }
  .button:first-child {
    display: none; }

.button:focus {
  outline: none; }

.button:hover {
  background-color: white;
  color: #333333;
  outline: none; }

.button:active,
.button.is-checked {
  background-color: white;
  color: #333333;
  outline: none; }

.button.is-checked {
  background-color: white;
  color: #333333;
  outline: none; }

.button:active {
  box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.8); }

/* ---- button-group ---- */
.button-group {
  margin-bottom: 30px; }

.button-group:after {
  content: '';
  display: block;
  clear: both; }

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 3px; }

/* ---- isotope ---- */
.portfolio-grid {
  margin-bottom: 60px; }

/* clear fix */
.portfolio-grid:after {
  content: '';
  display: block;
  clear: both; }

/* ---- .element-item ---- */
.portfolio-item {
  position: relative;
  float: left;
  width: 22.75%;
  margin-right: 2.25%;
  margin-bottom: 35px;
  display: block; }
  @media screen and (max-width: 1023px) {
    .portfolio-item {
      width: 310px; } }
  @media screen and (max-width: 479px) {
    .portfolio-item {
      width: 100%; } }
  .portfolio-item__content {
    padding: 15px 20px 17px;
    border-bottom: 1px solid white;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 145px; }
  .portfolio-item__img-wrap {
    overflow: hidden; }
    .portfolio-item__img-wrap img {
      width: 100%;
      height: 190px;
      object-fit: cover;
      transition: all .35s ease; }
      .portfolio-item__img-wrap img:hover {
        transform: scale(1.075); }
  .portfolio-item__title {
    margin: 0;
    padding: 5px 0 10px; }
    .portfolio-item__title h3 {
      margin: 0;
      padding: 0; }
  .portfolio-item__caption p {
    margin: 0;
    padding: 0 0 12px;
    font-size: 14px; }
  .portfolio-item__cta {
    display: none; }
    .portfolio-item__cta a {
      display: inline-block;
      background: rgba(253, 46, 46, 0.8);
      color: white;
      border: none;
      padding: 5px 11px;
      text-transform: uppercase;
      width: auto;
      font-size: 13px;
      font-family: "franklingothic-demi", Georgia, serif; }

.about {
  color: white;
  overflow: hidden; }
  .about__bg {
    background-image: url("http://stephenkarpeles.com/staging/struere/wp-content/themes/struere/img/banners/banner4.jpg");
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
    .about__bg:after {
      position: absolute;
      z-index: 500;
      content: '';
      height: 100%;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.35); }
  .about__top .container {
    display: flex;
    justify-content: space-between; }
  .about__top--left {
    width: 290px; }
    @media screen and (max-width: 859px) {
      .about__top--left {
        display: none; } }
  .about__top--right {
    width: calc(100% - 290px);
    padding-left: 40px; }
    @media screen and (max-width: 859px) {
      .about__top--right {
        width: 100%;
        padding-left: 0; } }
  .about section {
    animation: fade-in-1 1.5s ease;
    position: relative;
    z-index: 1000; }
    .about section:first-of-type {
      margin-top: 150px; }
  .about a[href^="tel:"] {
    color: white;
    text-decoration: none; }
  .about__company-info {
    -webkit-columns: 3 250px;
    -moz-columns: 3 250px;
    columns: 3 250px; }
    .about__company-info h1 {
      column-span: all;
      text-transform: uppercase;
      position: relative;
      margin-bottom: 50px; }
      .about__company-info h1:before {
        position: absolute;
        content: '';
        background: white;
        width: 70px;
        height: 5px;
        left: 0;
        bottom: -25px; }
    .about__company-info h2 {
      font-family: "franklingothic-book", Helvetica, Arial, sans-serif;
      text-transform: uppercase; }
    .about__company-info p {
      display: inline-block;
      padding-bottom: 1.25rem;
      font-size: 17px; }
      .about__company-info p.intro {
        font-family: "franklingothic-book-italic", Helvetica, Arial, sans-serif;
        font-size: 19px; }
  .about__contact-block {
    text-align: left;
    padding-top: 20px;
    margin: 10px 0 0 auto;
    width: 32.25%;
    max-width: 100%;
    min-width: 310px;
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    color: white; }
    @media screen and (max-width: 859px) {
      .about__contact-block {
        margin: 20px auto 0 0; } }
    @media screen and (max-width: 479px) {
      .about__contact-block {
        width: 100%; } }
  .about__phone {
    margin-bottom: 5px; }
  .about__facebook a {
    font-size: 23px; }
  .about__social-links {
    text-align: center; }
    .about__social-links ul {
      margin: 3px 0 0;
      padding: 0; }
    .about__social-links li {
      margin: 5px 2px;
      display: inline-block; }
    .about__social-links a {
      color: white;
      font-size: 23px; }

.hraztan {
  margin-top: 40px;
  background: rgba(100, 100, 100, 0.7);
  padding: 65px 0; }
  .hraztan .container {
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 479px) {
      .hraztan .container {
        flex-direction: column; } }
  .hraztan__name {
    font-family: "franklingothic-demi", Georgia, serif;
    font-size: 38px;
    display: block;
    line-height: 1;
    margin-bottom: 1rem; }
  .hraztan__image {
    width: 290px;
    max-width: 100%;
    position: relative; }
    @media screen and (max-width: 859px) {
      .hraztan__image {
        width: 190px; } }
    @media screen and (max-width: 639px) {
      .hraztan__image {
        width: 110px; } }
    @media screen and (max-width: 479px) {
      .hraztan__image {
        width: 100%;
        margin-bottom: 30px; }
        .hraztan__image img {
          max-width: 220px;
          margin: 0 auto; } }
  .hraztan__text {
    width: calc(100% - 290px);
    padding-left: 40px;
    column-count: 2; }
    @media screen and (max-width: 859px) {
      .hraztan__text {
        width: calc(100% - 190px);
        padding-left: 40px;
        column-count: 1; } }
    @media screen and (max-width: 859px) {
      .hraztan__text {
        width: calc(100% - 110px);
        padding-left: 20px; } }
    @media screen and (max-width: 479px) {
      .hraztan__text {
        width: 100%;
        padding-left: 0; } }

.silva {
  margin-top: 0;
  background: rgba(170, 170, 170, 0.8);
  padding: 65px 0; }
  .silva .container {
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 479px) {
      .silva .container {
        flex-direction: column; } }
  .silva__name {
    font-family: "franklingothic-demi", Georgia, serif;
    font-size: 38px;
    display: block;
    line-height: 1;
    margin-bottom: 1rem; }
  .silva__image {
    width: 290px;
    max-width: 100%;
    position: relative; }
    @media screen and (max-width: 859px) {
      .silva__image {
        width: 190px; } }
    @media screen and (max-width: 639px) {
      .silva__image {
        width: 110px; } }
    @media screen and (max-width: 479px) {
      .silva__image {
        width: 100%;
        margin-bottom: 30px; }
        .silva__image img {
          max-width: 220px;
          margin: 0 auto; } }
  .silva__text {
    width: calc(100% - 290px);
    padding-left: 40px;
    column-count: 2; }
    @media screen and (max-width: 859px) {
      .silva__text {
        width: calc(100% - 190px);
        padding-left: 40px;
        column-count: 1; } }
    @media screen and (max-width: 859px) {
      .silva__text {
        width: calc(100% - 110px);
        padding-left: 20px; } }
    @media screen and (max-width: 479px) {
      .silva__text {
        width: 100%;
        padding-left: 0; } }

.awards {
  color: white;
  overflow: hidden; }
  .awards__bg {
    background-image: url("http://stephenkarpeles.com/staging/struere/wp-content/themes/struere/img/banners/banner7.jpg");
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
    .awards__bg:after {
      position: absolute;
      z-index: 500;
      content: '';
      height: 100%;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.7); }
  .awards h1 {
    text-transform: uppercase;
    position: relative;
    margin-bottom: 70px;
    text-align: right; }
    .awards h1:before {
      position: absolute;
      content: '';
      background: white;
      width: 70px;
      height: 5px;
      right: 0;
      bottom: -25px; }
  .awards section {
    animation: fade-in-1 1.5s ease;
    position: relative;
    z-index: 1000; }
    .awards section:first-of-type {
      margin-top: 160px; }
  .awards__list {
    text-align: right;
    font-size: 43px;
    margin-bottom: 100px;
    font-family: "franklingothic-demi", Georgia, serif; }
    .awards__list ul {
      margin: 0;
      padding: 0; }
    .awards__list li {
      list-style-type: none;
      line-height: 1.1;
      margin-bottom: 55px;
      width: 90%;
      margin-left: 10%; }
      .awards__list li.in-view {
        animation: awards-list-animation .8s ease-in forwards; }
@keyframes awards-list-animation {
  0% {
    transform: translateX(-120px); }
  100% {
    transform: translateX(0px); } }
      .awards__list li span {
        color: #fd2e2e;
        margin-right: 20px;
        font-size: 52px;
        display: inline-block; }
    @media screen and (max-width: 767px) {
      .awards__list {
        font-size: 28px; }
        .awards__list li span {
          font-size: 34px; } }
    @media screen and (max-width: 479px) {
      .awards__list {
        font-size: 28px; }
        .awards__list li {
          width: 100%;
          margin-left: 0; } }

.homepage__intro {
  position: fixed;
  z-index: 9999;
  right: 15px;
  background: rgba(255, 255, 255, 0.65);
  width: 370px;
  padding: 25px 30px;
  bottom: 30px;
  max-width: 100%; }
  .homepage__intro.in-view {
    animation: home-intro-animation .75s ease-in forwards; }
@keyframes home-intro-animation {
  0% {
    transform: translateY(-50px);
    opacity: 0; }
  100% {
    transform: translateX(0px);
    opacity: 1; } }
  .homepage__intro p {
    line-height: 1.2;
    font-size: 17px;
    padding: 0;
    margin: 0; }
  .homepage__intro strong {
    font-family: "franklingothic-demi", Georgia, serif; }
  @media screen and (max-width: 479px) {
    .homepage__intro {
      bottom: 15px;
      right: 15px;
      padding: 15px 30px; }
      .homepage__intro p {
        font-size: 14px; } }

#content_holder_bg {
  background: none !important; }

#content_holder {
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0;
  bottom: 0;
  color: #fff; }

#content_holder a {
  color: #fff; }

#content_holder #content_holder_bg {
  position: absolute;
  height: 100%;
  width: 70px;
  background: rgba(0, 0, 0, 0.25);
  padding-bottom: 0; }

#content_holder #home_slider {
  position: absolute;
  bottom: 0px;
  width: 70px;
  height: calc(100% - 100px);
  bottom: 0;
  overflow: hidden; }

#content_holder #home_slider #home_slider_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25); }

#content_holder #home_slider #home_slider_thumbs {
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 70px;
  text-align: center;
  max-height: 685px;
  overflow: hidden; }

#content_holder #home_slider #home_slider_thumbs div {
  position: relative;
  margin: 3px auto;
  height: 40px;
  width: 40px;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  cursor: pointer; }
  #content_holder #home_slider #home_slider_thumbs div:first-child {
    margin-top: 0; }

#content_holder #home_slider #home_slider_thumbs div.active,
#content_holder #home_slider #home_slider_thumbs div:hover {
  border: solid 1px #fff; }

#content_holder #home_slider .img_name.in-view,
#content_holder #home_slider .img_caption.in-view {
  animation: home-caption-animation .75s ease-in forwards; }
@keyframes home-caption-animation {
  0% {
    transform: translateX(100px);
    opacity: 0; }
  100% {
    transform: translateX(0px);
    opacity: 1; } }
@media screen and (max-width: 767px) {
  #content_holder #home_slider .img_name,
  #content_holder #home_slider .img_caption {
    display: none; } }

#content_holder #home_slider .img_name {
  position: fixed;
  top: 34px;
  right: 20px;
  max-width: 100%;
  min-width: 300px;
  text-transform: none;
  line-height: 1.15;
  font-family: "franklingothic-demi", Georgia, serif;
  z-index: 9000;
  text-align: right;
  font-size: 17px; }

#content_holder #home_slider .img_caption {
  text-align: right;
  position: fixed;
  top: 53px;
  right: 20px;
  font-size: 13px;
  max-width: 100%;
  min-width: 300px;
  padding: 0 0 0 15px;
  line-height: 1.4;
  z-index: 9000; }

#slide_bg {
  position: fixed;
  width: 100%;
  height: 100%; }
  #slide_bg.in-view {
    animation: slide-bg-animation 1.25s ease-in forwards; }
@keyframes slide-bg-animation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
#slide_bg div {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

#slide_bg div.active {
  opacity: 1; }

.portfolio {
  color: white;
  overflow: hidden; }
  .portfolio__bg {
    background-image: url("http://stephenkarpeles.com/staging/struere/wp-content/themes/struere/img/banners/banner5.jpg");
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
    .portfolio__bg:after {
      position: absolute;
      z-index: 500;
      content: '';
      height: 100%;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.8); }
  .portfolio h1 {
    text-transform: uppercase;
    position: relative;
    margin-bottom: 50px; }
    .portfolio h1:before {
      position: absolute;
      content: '';
      background: white;
      width: 70px;
      height: 5px;
      left: 0;
      bottom: -25px; }
  .portfolio section {
    animation: fade-in-1 1.5s ease;
    position: relative;
    z-index: 1000; }
    .portfolio section:first-of-type {
      margin-top: 150px; }

.publications .container {
  max-width: 940px; }
.publications__bg {
  background-image: url("http://stephenkarpeles.com/staging/struere/wp-content/themes/struere/img/banners/banner8.jpg");
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
  .publications__bg:after {
    position: absolute;
    z-index: 500;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6); }
.publications h1 {
  text-transform: uppercase;
  position: relative;
  margin-bottom: 60px;
  color: white; }
  .publications h1:before {
    position: absolute;
    content: '';
    background: white;
    width: 70px;
    height: 5px;
    left: 0;
    bottom: -25px; }
.publications h2 {
  color: white;
  position: absolute;
  left: -110px;
  top: 12px;
  text-transform: uppercase; }
.publications section {
  animation: fade-in-1 1.5s ease;
  position: relative;
  z-index: 1000; }
  .publications section .container {
    position: relative; }
  .publications section:first-of-type {
    margin-top: 150px; }
.publications__list ul {
  margin: 0;
  padding: 0; }
.publications__list li {
  list-style-type: none;
  display: block;
  margin-bottom: 30px; }
  .publications__list li.in-view {
    animation: publications-list-animation .5s ease-in forwards; }
@keyframes publications-list-animation {
  0% {
    transform: translateX(-20px); }
  100% {
    transform: translateX(0px); } }
  .publications__list li a {
    display: inline-block;
    line-height: 1.15;
    padding: 12px 15px;
    background: rgba(255, 255, 255, 0.7);
    color: #404040;
    font-family: "franklingothic-demi", Georgia, serif;
    font-size: 22px;
    transition: all .75s ease; }
    .publications__list li a span {
      font-family: "franklingothic-book-italic", Helvetica, Arial, sans-serif; }
    .publications__list li a:hover {
      box-shadow: none;
      opacity: 1;
      transform: translateX(10px); }
.publications__print-list {
  margin-top: 10px;
  margin-bottom: 80px; }
  .publications__print-list ul {
    margin: 0;
    padding: 0; }
  .publications__print-list li {
    list-style-type: none; }
    .publications__print-list li.in-view {
      animation: publications-list-animation .5s ease-in forwards; }
@keyframes publications-list-animation {
  0% {
    transform: translateX(-20px); }
  100% {
    transform: translateX(0px); } }
    .publications__print-list li div {
      display: inline-block;
      color: white;
      line-height: 1.15;
      padding: 12px 15px;
      background: rgba(255, 255, 255, 0.7);
      color: #404040;
      font-family: "franklingothic-demi", Georgia, serif;
      font-size: 22px;
      transition: all .75s ease;
      margin-bottom: 30px;
      width: auto; }
    .publications__print-list li span {
      font-family: "franklingothic-book-italic", Helvetica, Arial, sans-serif; }

.single-project {
  background: #333; }

.project-post {
  color: white;
  margin-top: 170px; }
  .project-post a {
    color: white; }
  .project-post__content {
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 767px) {
      .project-post__content {
        flex-direction: column; } }
  .project-post__col-left {
    width: 65%; }
    @media screen and (max-width: 859px) {
      .project-post__col-left {
        width: 50%; } }
    @media screen and (max-width: 767px) {
      .project-post__col-left {
        width: 100%;
        margin: 0 auto 25px; } }
  .project-post__col-right {
    width: 32%; }
    @media screen and (max-width: 859px) {
      .project-post__col-right {
        width: 45%; } }
    @media screen and (max-width: 767px) {
      .project-post__col-right {
        width: 100%;
        margin: 0 auto; } }
  .project-post__image img {
    object-fit: cover;
    height: 500px;
    width: 100%; }
    @media screen and (max-width: 479px) {
      .project-post__image img {
        height: 280px; } }
  .project-post__back-link {
    margin: 60px 0; }
    .project-post__back-link a {
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 1px;
      text-transform: uppercase; }

.project-post .btn {
  background: none;
  padding: none !important;
  cursor: pointer;
  border: none;
  outline: none !important;
  margin-left: -7px; }
  .project-post .btn img {
    width: 40px;
    height: 40px;
    object-fit: cover; }
  .project-post .btn:hover img {
    border: 1px solid white; }

.project-details__image {
  display: none;
  margin-bottom: 15px; }
  .project-details__image.is-active-project-detail {
    display: block; }

.is-active-project-variant img {
  border: 1px solid white !important; }

/*# sourceMappingURL=style.css.map */
