@keyframes fade-in-1 {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  background: white;
  font-family: "franklingothic-book", Helvetica, Arial, sans-serif;
  color: #333333;
  line-height: 1.375; }

img {
  display: block;
  max-width: 100%; }

a {
  transition: all .25s ease;
  text-decoration: none; }

textarea,
input.text,
input[type="text"],
input[type="email"],
input[type="button"],
input[type="submit"],
.input-checkbox {
  -webkit-appearance: none !important;
  border-radius: 0 !important; }

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */ }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0; }

@font-face {
  font-family: 'franklingothic-book';
  src: url("../fonts/franklingothic-book-webfont.woff2") format("woff2"), url("../fonts/franklingothic-book-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'franklingothic-book-italic';
  src: url("../fonts/franklingothic-bookit-webfont.woff2") format("woff2"), url("../fonts/franklingothic-bookit-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'franklingothic-demi';
  src: url("../fonts/franklingothic-demi-webfont.woff2") format("woff2"), url("../fonts/franklingothic-demi-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'franklingothic-demi-italic';
  src: url("../fonts/franklingothic-demiit-webfont.woff2") format("woff2"), url("../fonts/franklingothic-demiit-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: "franklingothic-demi", Georgia, serif;
  line-height: 1.1; }

h1 {
  font-size: 38px;
  font-family: "franklingothic-demi", Georgia, serif;
  margin-bottom: 1rem; }

p {
  margin: 0;
  padding-top: 0;
  padding-bottom: 1.5rem; }

a {
  color: white;
  transition: all .15s ease; }
  a:hover, a:focus {
    opacity: .8; }

b,
strong {
  font-family: "franklingothic-demi", Georgia, serif; }

i,
em {
  font-family: "franklingothic-book-italic", Helvetica, Arial, sans-serif; }

.container {
  width: 90%;
  max-width: 1120px;
  margin: 0 auto; }

.header {
  position: fixed;
  z-index: 9000;
  background: rgba(55, 81, 126, 0.7);
  width: 100%;
  top: 0;
  height: 100px;
  padding: 20px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header__logo {
    transition: all .25s ease; }
    .header__logo img {
      width: 200px; }
    .header__logo:hover, .header__logo:focus {
      opacity: .8; }
  .header__nav ul {
    margin: 0;
    padding: 0; }
  .header__nav li {
    display: inline-block;
    list-style-type: none;
    margin: 0 0 0 20px;
    position: relative; }
    .header__nav li:before {
      content: '|';
      position: absolute;
      left: -15px;
      display: block;
      color: white; }
    .header__nav li:first-child:before {
      content: '';
      display: none; }
  .header__nav a {
    color: white;
    text-transform: uppercase;
    font-family: "franklingothic-demi", Georgia, serif; }
    .header__nav a:hover, .header__nav a:focus {
      color: #fd2e2e; }

.about {
  color: white;
  overflow: hidden; }
  .about__bg {
    background-image: url("http://stephenkarpeles.com/staging/struere/wp-content/themes/struere/img/banners/banner4.jpg");
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
    .about__bg:after {
      position: absolute;
      z-index: 500;
      content: '';
      height: 100%;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.7); }
  .about section {
    animation: fade-in-1 1.5s ease;
    position: relative;
    z-index: 1000; }
    .about section:first-of-type {
      margin-top: 150px; }
  .about__company-info {
    -webkit-columns: 3 250px;
    -moz-columns: 3 250px;
    columns: 3 250px; }
    .about__company-info h1 {
      column-span: all;
      text-transform: uppercase;
      position: relative;
      margin-bottom: 50px; }
      .about__company-info h1:before {
        position: absolute;
        content: '';
        background: white;
        width: 70px;
        height: 5px;
        left: 0;
        bottom: -25px; }
    .about__company-info h2 {
      font-family: "franklingothic-book", Helvetica, Arial, sans-serif;
      text-transform: uppercase; }
    .about__company-info p {
      display: inline-block;
      padding-bottom: 1.25rem;
      font-size: 17px; }
      .about__company-info p.intro {
        font-family: "franklingothic-book-italic", Helvetica, Arial, sans-serif;
        font-size: 19px; }

.hraztan {
  margin-top: 40px;
  background: rgba(253, 46, 46, 0.65);
  padding: 65px 0; }
  .hraztan .container {
    display: flex;
    justify-content: space-between; }
  .hraztan__name {
    font-family: "franklingothic-demi", Georgia, serif;
    font-size: 38px;
    display: block;
    line-height: 1;
    margin-bottom: 1rem; }
  .hraztan__image {
    width: 290px;
    max-width: 100%;
    position: relative; }
  .hraztan__text {
    width: calc(100% - 290px);
    padding-left: 40px;
    column-count: 2; }

.silva {
  margin-top: 0;
  background: rgba(107, 80, 151, 0.65);
  padding: 65px 0; }
  .silva .container {
    display: flex;
    justify-content: space-between; }
  .silva__name {
    font-family: "franklingothic-demi", Georgia, serif;
    font-size: 38px;
    display: block;
    line-height: 1;
    margin-bottom: 1rem; }
  .silva__image {
    width: 290px;
    max-width: 100%;
    position: relative; }
  .silva__text {
    width: calc(100% - 290px);
    padding-right: 40px;
    column-count: 2; }

.awards {
  background-image: url("http://stephenkarpeles.com/staging/struere/wp-content/themes/struere/img/banners/banner7.jpg");
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat; }

.homepage__intro {
  position: fixed;
  z-index: 9999;
  right: 15px;
  background: rgba(255, 255, 255, 0.8);
  width: 370px;
  padding: 25px 30px;
  bottom: 30px; }
  .homepage__intro.in-view {
    animation: home-intro-animation .75s ease-in forwards; }
@keyframes home-intro-animation {
  0% {
    transform: translateY(-50px);
    opacity: 0; }
  100% {
    transform: translateX(0px);
    opacity: 1; } }
  .homepage__intro p {
    line-height: 1.2;
    font-size: 17px;
    padding: 0;
    margin: 0; }
  .homepage__intro strong {
    font-family: "franklingothic-demi", Georgia, serif; }

#content_holder_bg {
  background: none !important; }

#content_holder {
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0;
  bottom: 0;
  color: #fff; }

#content_holder a {
  color: #fff; }

#content_holder #content_holder_bg {
  position: absolute;
  height: 100%;
  width: 70px;
  background: rgba(55, 81, 126, 0.7);
  padding-bottom: 0; }

#content_holder #home_slider {
  position: absolute;
  bottom: 0px;
  width: 70px;
  height: calc(100% - 100px);
  bottom: 0; }

#content_holder #home_slider #home_slider_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(55, 81, 126, 0.7); }

#content_holder #home_slider #home_slider_thumbs {
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 70px;
  text-align: center; }

#content_holder #home_slider #home_slider_thumbs div {
  position: relative;
  margin: 3px auto;
  height: 40px;
  width: 40px;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  cursor: pointer; }

#content_holder #home_slider #home_slider_thumbs div.active,
#content_holder #home_slider #home_slider_thumbs div:hover {
  border: solid 1px #fff; }

#content_holder #home_slider .img_name.in-view,
#content_holder #home_slider .img_caption.in-view {
  animation: home-caption-animation .75s ease-in forwards; }
@keyframes home-caption-animation {
  0% {
    transform: translateX(-100px);
    opacity: 0; }
  100% {
    transform: translateX(0px);
    opacity: 1; } }
#content_holder #home_slider .img_name {
  position: absolute;
  bottom: 30px;
  left: 15px;
  max-width: 100%;
  background: rgba(253, 46, 46, 0.85);
  padding: 18px 20px 35px 20px;
  min-width: 300px;
  text-transform: uppercase;
  line-height: 1.4;
  font-family: "franklingothic-demi", Georgia, serif; }

#content_holder #home_slider .img_caption {
  position: absolute;
  bottom: 17px;
  font-size: 13px;
  right: 30px;
  bottom: 50px;
  left: 20px;
  max-width: 100%;
  min-width: 300px;
  padding: 0 0 0 15px;
  line-height: 1.4; }

#slide_bg {
  position: fixed;
  width: 100%;
  height: 100%; }
  #slide_bg.in-view {
    animation: slide-bg-animation 1.25s ease-in forwards; }
@keyframes slide-bg-animation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
#slide_bg div {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

#slide_bg div.active {
  opacity: 1; }

.portfolio {
  background-image: url("http://stephenkarpeles.com/staging/struere/wp-content/themes/struere/img/banners/banner5.jpg");
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat; }

.publications {
  background-image: url("http://stephenkarpeles.com/staging/struere/wp-content/themes/struere/img/banners/banner8.jpg");
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat; }

/*# sourceMappingURL=style.css.map */
