.header {
  position: fixed;
  z-index: 999;
  background: rgba($color-2, .7);
  width: 100%;
  top: 0;
  height: 100px;
  padding: 20px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    transition: all .25s ease;
    
    img {
      width: 200px;
    }

    &:hover,
    &:focus {
      opacity: .8;
    }
  }

  &__nav {
    ul {
      margin: 0;
      padding: 0;
    }

    li {
      display: inline-block;
      list-style-type: none;
      margin: 0 0 0 20px;
      position: relative;

      &:before {
        content: '|';
        position: absolute;
        left: -15px;
        display: block;
        color: white;
      }

      &:first-child {
        &:before {
          content: '';
          display: none;
        }
      }
    }

    a {
      color: white;
      text-transform: uppercase;
      font-family: $sans-serif-bold;

      &:hover,
      &:focus {
        color: $color-1;
      }
    }
  }
}