@font-face {
    font-family: 'franklingothic-book';
    src: url('../fonts/franklingothic-book-webfont.woff2') format('woff2'),
         url('../fonts/franklingothic-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'franklingothic-book-italic';
    src: url('../fonts/franklingothic-bookit-webfont.woff2') format('woff2'),
         url('../fonts/franklingothic-bookit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'franklingothic-demi';
    src: url('../fonts/franklingothic-demi-webfont.woff2') format('woff2'),
         url('../fonts/franklingothic-demi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'franklingothic-demi-italic';
    src: url('../fonts/franklingothic-demiit-webfont.woff2') format('woff2'),
         url('../fonts/franklingothic-demiit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

p {
  margin: 0;
  padding-bottom: 1.5rem;
}

