.homepage {
  &__intro {
    position: fixed;
    z-index: 9999;
    right: 15px;
    background: rgba(255, 255, 255, .8);
    width: 370px;
    padding: 25px 30px;
    bottom: 30px;

    &.in-view {
      animation: home-intro-animation .75s ease-in forwards;
    }

    @keyframes home-intro-animation {
      0% {
        transform: translateY(-50px);
        opacity: 0;
      }

      100% {
        transform: translateX(0px);
        opacity: 1;
      }
    }

    p {
      line-height: 1.2;
      font-size: 17px;
      padding: 0;
      margin: 0;
    }

    strong {
      font-family: $sans-serif-bold;
    }
  }
}

#content_holder_bg {
  background: none !important;
}

#content_holder {
  position: absolute;
  width: 100%;
  min-height: 100%;
  // min-height: calc(100% - 150px);
  // top: 120px;
  top: 0;
  bottom: 0;
  color: #fff;
}

#content_holder a {
  color: #fff;
}

#content_holder #content_holder_bg {
  position: absolute;
  height: 100%;
  width: 70px;
  // width: 100%;
  background: rgba($color-2, .7);
  padding-bottom: 0;
  // padding-bottom: 30px;
}

#content_holder #home_slider {
  position: absolute;
  bottom: 0px;
  width: 70px;
  height: calc(100% - 100px); // minus height of header
  bottom: 0;
  // width: 100%;
  // height: 60px;
}

#content_holder #home_slider #home_slider_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba($color-2, .7);
}

#content_holder #home_slider #home_slider_thumbs {
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 70px;
  // width: 400px;
  text-align: center;
}

#content_holder #home_slider #home_slider_thumbs div {
  position: relative;
  margin: 3px auto;
  height: 40px;
  width: 40px;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  cursor: pointer;
}

#content_holder #home_slider #home_slider_thumbs div.active,
#content_holder #home_slider #home_slider_thumbs div:hover {
  border: solid 1px #fff;
}

#content_holder #home_slider .img_name,
#content_holder #home_slider .img_caption {
  &.in-view {
    animation: home-caption-animation .75s ease-in forwards;
  }

  @keyframes home-caption-animation {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }

    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }
}

#content_holder #home_slider .img_name {
  position: absolute;
  bottom: 30px;
  left: 15px;
  max-width: 100%;
  background: rgba($color-1, .85);
  padding: 18px 20px 35px 20px;
  min-width: 300px;
  text-transform: uppercase;
  line-height: 1.4;
  font-family: $sans-serif-bold;
}

#content_holder #home_slider .img_caption {
  position: absolute;
  bottom: 17px;
  font-size: 13px;
  right: 30px;
  bottom: 50px;
  left: 20px;
  max-width: 100%;
  min-width: 300px;
  padding: 0 0 0 15px;
  line-height: 1.4;
}

#slide_bg {
  position: fixed;
  width: 100%;
  height: 100%;

  &.in-view {
    animation: slide-bg-animation 2s ease-in forwards;
  }

  @keyframes slide-bg-animation {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

#slide_bg div {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#slide_bg div.active {
  opacity: 1;
}